Repository MarkRDavison/torrent: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build web, build bff, build api, publish web, publish bff, publish api

build web:
  stage: build
  image: node:alpine
  script:
  - npm --prefix Zeno.Torrent.Web ci
  - npm --prefix Zeno.Torrent.Web run build

build bff:
  stage: build
  image: node:alpine
  script:
  - npm --prefix Zeno.Torrent.Bff ci
  - npm --prefix Zeno.Torrent.Bff run build

build api:
  stage: build
  image: mcr.microsoft.com/dotnet/sdk:5.0
  script:
  - cd Zeno.Torrent.API
  - dotnet restore
  ...

publish web:
  stage: package
  image: jdrouet/docker-with-buildx:stable
  services:
  - docker:dind
  needs:
  - job: build web
    optional: true
  - job: build bff
    optional: true
  - job: build api
    optional: true
  - job: end to end tests
    optional: false
  script:
  - docker buildx create --use
  ...

publish bff:
  stage: package
  image: jdrouet/docker-with-buildx:stable
  services:
  - docker:dind
  needs:
  - job: build web
    optional: true
  - job: build bff
    optional: true
  - job: build api
    optional: true
  - job: end to end tests
    optional: false
  script:
  - docker buildx create --use
  ...

publish api:
  stage: package
  image: jdrouet/docker-with-buildx:stable
  services:
  - docker:dind
  needs:
  - job: build web
    optional: true
  - job: build bff
    optional: true
  - job: build api
    optional: true
  - job: end to end tests
    optional: false
  script:
  - docker buildx create --use
  ...

Update docker to use kaniko
  .gitlab-ci.yml
  charts/templates/tls-external-secret.yaml
Due: none

Add values.yaml
  .gitignore
  charts/values.yaml
Due: none

update nfs,redis and postgres paths
  .gitlab-ci.yml
  charts/values.yaml
Due: none

Get secrets from kes vault
  charts/templates/zeno-torrent-secret.yaml
Due: none

Add ingresses
  charts/templates/api/ingress.yaml
  charts/templates/bff/ingress.yaml
  charts/templates/web/ingress.yaml
  charts/values.yaml
Due: none

add nginx class to ingresses
  charts/templates/api/ingress.yaml
  charts/templates/bff/ingress.yaml
  charts/templates/web/ingress.yaml
Due: none

Whitespace
  charts/values.yaml
Due: none

Add secret to api
  charts/values.yaml
Due: none

Add api secret to external secret
  charts/templates/zeno-torrent-secret.yaml
Due: none

Check if file exists before using created full path, useful for torrents with no containing folder
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Services/WrappedTorrent.cs
Due: build api, publish api

Exclude filenames with sample segment
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Utility/TVFilenameOperations.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Core/Utility/TVFilenameOperationsTests.cs
Due: build api, publish api

Allow episode numbers of 0
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Utility/TVFilenameOperations.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Core/Utility/TVFilenameOperationsTests.cs
Due: build api, publish api

Add more logging to diagnose auth issues
  Zeno.Torrent.Bff/src/index.ts
  Zeno.Torrent.Bff/src/util/refreshTokenMiddleware.ts
Due: build bff, publish bff

Add more logging to diagnose auth issues 2
  Zeno.Torrent.Bff/src/util/TokenUtil.ts
  Zeno.Torrent.Bff/src/util/refreshTokenMiddleware.ts
Due: build bff, publish bff

Add additional logging around sample
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Services/DownloadInteractionService.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Core/Utility/TVFilenameOperationsTests.cs
Due: build api, publish api

add imagePullPolicy: Always
  charts/templates/api/deployment.yaml
  charts/templates/bff/deployment.yaml
  charts/templates/web/deployment.yaml
Due: none

Remove api access/refreh tokens if an auth error occurs
  Zeno.Torrent.Bff/src/index.ts
Due: build bff, publish bff

Clear auth if 4XX response
  Zeno.Torrent.Bff/src/index.ts
Due: build bff, publish bff

Mount working directory properly
  charts/values.yaml
Due: none

Add Matrix notifier that can send messages to a channel for a user that can...
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Configuration/AppSettings.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Services/DownloadInteractionService.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Utility/TVFilenameOperations.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Data/Models/CompletedMedia.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Data/Models/TVFilenameInfo.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/Interfaces/IMatrixNotifier.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/Interfaces/IMediaNotifier.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/Interfaces/INotificationAggregator.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/MatrixNotifier.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/NotificationAggregator.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Zeno.Torrent.API.Service.csproj
  Zeno.Torrent.API/src/Zeno.Torrent.API/Core/RequestLoggingMiddleware.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API/Startup.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API/Startup/ConfigureSettings.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API/appsettings.json
  Zeno.Torrent.API/test/Zeno.Torrent.API.Integration/SanityTests.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Service/Services/MatrixNotifierTests.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Zeno.Torrent.API.Test.csproj
  charts/templates/zeno-torrent-secret.yaml
  charts/values.yaml
Due: build api, publish api

Fix env variable names
  charts/templates/zeno-torrent-secret.yaml
  charts/values.yaml
Due: none

Dont stop the state request doofus
  Zeno.Torrent.API/src/Zeno.Torrent.API/Core/RequestLoggingMiddleware.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Integration/SanityTests.cs
Due: build api, publish api

Register the matrix notifier
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Services/TorrentClientEngine.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Framework/Configuration/AppSettings.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/MatrixNotifier.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Zeno.Torrent.API.Service.csproj
  Zeno.Torrent.API/src/Zeno.Torrent.API/Startup.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Service/Services/MatrixNotifierTests.cs
  charts/values.yaml
Due: build api, publish api

Dont use the httpclientfactory extensions method
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/MatrixNotifier.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API/Startup.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Service/Services/MatrixNotifierTests.cs
Due: build api, publish api

Fix test
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Service/Services/MatrixNotifierTests.cs
Due: build api, publish api

Show message and stack trace
  Zeno.Torrent.API/src/Zeno.Torrent.API/Core/TorrentEngineService.cs
Due: build api, publish api

Register notifier doofus
  Zeno.Torrent.API/src/Zeno.Torrent.API/Startup.cs
Due: build api, publish api

Logging cleanup to reduce spam
  Zeno.Torrent.API/src/Zeno.Torrent.API/Core/RequestLoggingMiddleware.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API/appsettings.json
Due: build api, publish api

Try and print movie titles better
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/MatrixNotifier.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Service/Services/MatrixNotifierTests.cs
Due: build api, publish api

Check if folder exists before deleting
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Services/WrappedTorrent.cs
Due: build api, publish api

Invoke web request against plex server asking to refresh folders based on what has changed
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Services/TorrentClientEngine.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Framework/Configuration/AppSettings.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/Interfaces/IPlexNotifier.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/PlexNotifier.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API/Startup.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API/appsettings.json
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Service/Services/PlexNotifierTests.cs
  charts/templates/zeno-torrent-secret.yaml
  charts/values.yaml
Due: build api, publish api

Compare using uppercase
  Zeno.Torrent.Web/package-lock.json
  Zeno.Torrent.Web/package.json
  Zeno.Torrent.Web/src/components/AddTVDialog.tsx
Due: build web, publish web

Delete docker-compose.yaml
  docker-compose.yaml
Due: none

Add movie filename operations class, to enable adding movies into a folder if...
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Services/DownloadInteractionService.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Utility/MovieFilenameOperations.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Zeno.Torrent.API.Core.csproj
  Zeno.Torrent.API/src/Zeno.Torrent.API.Data/Models/CompletedMedia.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Data/Models/MovieFilenameInfo.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/MatrixNotifier.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Service/Services/PlexNotifier.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Core/Services/DownloadInteractionServiceTests.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Core/Utility/MovieFilenameOperationsTests.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Service/Services/MatrixNotifierTests.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Service/Services/PlexNotifierTests.cs
Due: build api, publish api

Add date to deployments
  Zeno.Torrent.Bff/src/authRoutes.ts
  charts/templates/api/deployment.yaml
  charts/templates/bff/deployment.yaml
  charts/templates/web/deployment.yaml
Due: build bff, publish bff

Fix movie directory placement
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Services/DownloadInteractionService.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Utility/MovieFilenameOperations.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Core/Services/DownloadInteractionServiceTests.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Core/Utility/TVFilenameOperationsTests.cs
Due: build api, publish api

more logging
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/CronJobs/ShowRssCronJob.cs
Due: build api, publish api

Remove comments and strip invalid characters
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/CronJobs/ShowRssCronJob.cs
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Services/TVRssFeedReader.cs
Due: build api, publish api

dont allow episode zero
  Zeno.Torrent.API/src/Zeno.Torrent.API.Data/Models/TVFilenameInfo.cs
  Zeno.Torrent.API/test/Zeno.Torrent.API.Test/Core/Utility/TVFilenameOperationsTests.cs
Due: build api, publish api

skip copying things with sample in the name
  Zeno.Torrent.API/src/Zeno.Torrent.API.Core/Services/DownloadInteractionService.cs
Due: build api, publish api

Path conditions:
  build web: any of: Zeno.Torrent.Web/**/*
  build bff: any of: Zeno.Torrent.Bff/**/*
  build api: any of: Zeno.Torrent.API/**/*
  publish web: any of: Zeno.Torrent.Web/**/*
  publish bff: any of: Zeno.Torrent.Bff/**/*
  publish api: any of: Zeno.Torrent.API/**/*
